/* Constants */
:root {
    --color-black: #161616;
    --color-white: #fff;
    --size: 150px; /* Fully responsive */
}

/* Cat */
.cat {
    position: relative;
    height: var(--size);
    width: calc(var(--size) * 1.13);
}

/* Ears */
.ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: var(--color-white);
}

.ear::before,
.ear::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: var(--color-black);
}

.ear::after {
    transform-origin: 50% 100%;
}

.ear--left {
    left: -7%;
    border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(-15deg);
}

.ear--left::before,
.ear--left::after {
    right: 10%;
}

.ear--left::after {
    transform: rotate(-45deg);
}

.ear--right {
    right: -7%;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(15deg);
}

.ear--right::before,
.ear--right::after {
    left: 10%;
}

.ear--right::after {
    transform: rotate(45deg);
}

/* Face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--color-black);
    border-radius: 50%;
}

/* Eyes */
.eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: var(--color-white);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: var(--color-black);
    animation: blink 4s infinite ease-in;
}

@keyframes blink {
    0% { height: 0; }
    90% { height: 0; }
    92.5% { height: 100%; }
    95% { height: 0; }
    97.5% { height: 100%; }
    100% { height: 0; }
}

.eye::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: var(--color-white);
    border-radius: 50%;
}

.eye--left {
    left: 0;
}

.eye--left::before {
    right: -5%;
}

.eye--right {
    right: 0;
}

.eye--right::before {
    left: -5%;
}

/* Pupils */
.eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: var(--color-black);
    border-radius: 50%;
    animation: look-around 4s infinite;
}

@keyframes look-around {
    0% { transform: translate(0) }
    5% { transform: translate(50%, -25%) }
    10% { transform: translate(50%, -25%) }
    15% { transform: translate(-100%, -25%) }
    20% { transform: translate(-100%, -25%) }
    25% { transform: translate(0, 0) }
    100% { transform: translate(0, 0) }
}

.eye--left .eye-pupil {
    right: 30%;
}

.eye--right .eye-pupil {
    left: 30%;
}

.eye-pupil::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: var(--color-white);
}

/* Muzzle */
.muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: var(--color-white);
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

.loader-cat-portion {
    display: flex;
    justify-content: center;
}

.welcome-quotes {
    color: var(--color-white);
    font-size: 22px;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.welcome-quotes-web-name {
    color: #C40C0C;;
    font-size: 37px;
    font-family: 'Montserrat', cursive;
}

.loader-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loader {
    width: 88px;
    height: 12px;
    --_g: no-repeat radial-gradient(farthest-side,#FFFFFF 94%,#0000);
    background:
      var(--_g) 25% 0,
      var(--_g) 75% 0;
    background-size: 12px 12px;
    position: relative;
    animation: l24-0 1s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    height: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #FFFFFF;
    inset: 0;
    margin: auto;
    animation: l24-1 1s cubic-bezier(0.5,300,0.5,-300) infinite;
  }
  @keyframes l24-0 {
    0%,24%  {background-position: 25% 0,75% 0}
    40%     {background-position: 25% 0,85% 0}
    50%,72% {background-position: 25% 0,75% 0}
    90%     {background-position: 15% 0,75% 0}
    100%    {background-position: 25% 0,75% 0}
  }
  @keyframes l24-1 {
    100% {transform:translate(0.1px)}
  }
