.blogs-container {
    background-color: #000;
    max-height: 100%;
    height: 100%;
    color: #FFFF;
    padding: 80px 130px;
}

.blogs-content {
 /* background-color: aqua; */
 padding: 70px 180px;
}

.blogs-welcome-words {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blogs-welcome-words > span {
    text-align: center;
    /* text-shadow: rgb(189, 70, 47) -2px 2px 9px; */
    text-shadow: rgb(255, 255, 255) -2px 2px 9px;;
    font-size: 16px;
}

.blogs-division-wrapper {
    display: flex;
    padding: 50px 0;
    gap: 50px;
    flex-direction: column;
}

.blogs-portion {

}

.blog-details {
  display: flex;
  gap: 25px;
  height: 400px;
  width: 100%;
  border: 2px solid #FFFF;
  border-radius: 10px;
  
}

.blog-title-image {
    /* width: 20%; */
    border-radius: 10px;
}

.blog-title-image > img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px
}

.blog-summary {
    width: 80%;
    display: flex;
    align-items: center;
}