.home-content-loader-page  {
    background: #161616;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    background-color: #000;
    height: 100vh;
    color: #FFFF;
    padding: 80px 130px;
}