.header-cont {
 color: white;
 height: 100px;
 /* background-color: #F58840; */
 display: flex;
 flex-direction: row;
 /* justify-content: space-between; */
 align-items: center;
 /* padding: px; */
}

.header-web-logo {
 width: 200px;
 height: 50px;
}

.header-web-logo > img {
 height: 100%;
 width: 100%;
}

.header-left-content {
 width: 60%;
 display: flex;
 gap: 130px;
 align-items: center;
}

a {
 text-decoration: none;
 color: #FFFFFF;
 cursor: pointer;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 500;
 font-size: 16px;
}

.header-right-content {
 width: 40%;
 display: flex;
 justify-content: end;
}
